<div>
  <h2 class="start">servicios</h2>
  <section>
    <article>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio cum autem aliquid voluptatibus minus possimus, excepturi id, commodi reiciendis laborum, ut ab quasi. Odit obcaecati modi excepturi quas natus omnis.</p> <br>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias amet beatae, sit numquam tempore maiores voluptas modi mollitia, eligendi illum doloribus! Nulla deleniti totam sint aliquam aspernatur tenetur assumenda omnis.</p> <br>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias, praesentium vel harum repellat a aliquid explicabo qui iusto, eaque eum cumque. Vitae itaque vel debitis ipsum quaerat eligendi iusto totam.</p>
    </article>
  </section>
  <h2 class="end">servicios</h2>
</div>
