@media screen and (max-width: 770px) {
  header {
    display: flex;
    flex-flow: column nowrap;
    background-color: black;
    height: 300px;
  }

  a.logo {
    height: 40%;
    width: 100%;
  }

  img {
    height: 140%;
    width: 200px;
    margin-left: 150px;
  }

  ul {
    height: 60%;
  }

  a.nav-link {
    color: white;
    font-family: Roboto Condensed;
    font-size: 22px;
    padding: 30px;
  }

  a.nav-link:hover {
    color: red;
  }
}

@media screen and (min-width: 800px) {
  header {
    display: flex;
    flex-flow: row nowrap;
    background-color: black;
    align-items: center;
    height: 130px;
  }

  a {
    width: 15%;
    margin-left: 40px;
  }

  img {
    width: 100%;
  }

  ul {
    width: 85%;
  }

  a.nav-link {
    color: white;
    font-family: Roboto Condensed;
    font-size: 22px;
    padding: 25px;
  }

  a.nav-link:hover {
    color: red;
  }
}
