<header>
  <a routerLink="/lobby">
    <img src="./assets/logo.png">
  </a>
  <ul class="nav justify-content-center" style="background-color: black;">
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/lobby/characters">Characters</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/lobby/comics">Comics</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/lobby/creators">Creators</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/lobby/events">Events</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/lobby/series">Series</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/lobby/stories">Stories</a>
    </li>
  </ul>
</header>
