<h2>Nuevo Libro</h2>

<div class="container">
  <div class="row">
      <div class="col-3">
        <label class="form-label">Código</label>
        <input type="number" class="form-control" id="codigo" placeholder="ID del Libro">
      </div>
      <div class="col-9">
        <label class="form-label">Titulo</label>
        <input type="text" class="form-control" id="title" placeholder="titulo del Libro">
      </div>
      <div class="col-12">
        <label class="form-label">Descripcion</label>
        <textarea class="form-control" id="descripcion" rows="5"></textarea>
      </div>
      <div class="col-4">
        <label class="form-label">Autor</label>
        <select class="form-select" aria-label="Default select example">
          <option selected>Open this select menu</option>
          <option value="1">Pedro</option>
          <option value="2">Ana</option>
          <option value="3">María</option>
        </select>
      </div>
      <div class="col-4">
        <label class="form-label">cCategoria</label>
        <select class="form-select" aria-label="Default select example">
          <option selected>Open this select menu</option>
          <option value="1">Ajedrez</option>
          <option value="2">Arte</option>
          <option value="3">CienciA</option>
        </select>
      </div>


  </div>
</div>
