<p>libros works!</p>

<div class="container">
  <nav>
    <h4>Menú de Categorias</h4>

    <!-- OPCIONES DE LISTAS -->

    <!-- <div class="btn-group">
      <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Action
      </button>
      <ul class="dropdown-menu">
        <li *ngFor="let categoria of categorias">
          <a class="dropdown-item" href="#">{{ categoria.name }}</a>
        </li>
      </ul>
    </div> -->

    <!-- <label for="exampleDataList" class="form-label">Categorias...</label>
    <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Search Categoria">
    <datalist id="datalistOptions">
      <option *ngFor="let categoria of categorias" value="{{ categoria.name }}">
    </datalist> -->

    <ul *ngIf="categorias" class="list-group">
      <li *ngFor="let categoria of categorias" class="list-group-item"
      (click) = getLibrosCategory(categoria.category_id)>
        {{ categoria.name }} - {{ categoria.category_id}}
       </li>
    </ul>
  </nav>
  <section id="libros">
    <h2>Listado de libros</h2>
    <ul>
      <li *ngFor="let libro of libros">
        {{ libros }}
      </li>
  </section>
</div>

