* {
    margin:0;
    padding:0;
    box-sizing: border-box; /*Modelo de Cajas Avanzado*/
}

header {
    height: 100px;
    /*background-color: rgba(0, 255, 0, 0.4);*/
}

header figure {
    /*border: 0px solid red;*/
    height: 100%;
    width: 10%;
    float: left; /* transformo EB --> El */ 
}

header figure img {
    height: 100%;
}

header div#middle {
    float: left;
    /*background-color: khaki;*/
    height: 100%;
    width: 65%;
    /*text-align:center;*/ /*sirve para centrar el texto, pero si es un elemento de bloque solo centra si es del 100%*/
}

header div#middle h1 {
    width: 30%;
    text-align: center;
    color:red;
    /*background-color: royalblue;*/
    margin: 0 auto;
    margin-top: 9px;
    margin-bottom: 0px;
}

header div#middle nav {
   width: 90%;
   /*background-color:rgba(221, 160, 221, 0.767);*/
   margin: 0 auto;
   text-align: center;
   padding: 10px;
}

header #middle nav a {
    text-decoration: none;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
    background-color:palegreen;
    transition: 2s all;
}

header #middle nav a:hover {
    background-color: palevioletred;
}

header #middle nav a:hover i {
    color: white;
}

header #middle nav a:hover span {
    color: red;
    font-size: 19px;
}

header #middle nav i {
   font-size: 25px;
   color:blueviolet;
   /*transform: rotate(45deg);*/
}

header #middle nav span {
    font-size: 20px;
    /*color:black;*/
}

header div#registro {
    background-color: lawngreen;
    height: 100%;
    width: 25%;
    float: left;  
}

main nav {
    /*background-color: brown;*/
    height: 350px;
    width: 15%;
    float: left;
}

main nav a {
    border: 2px solid black;
    display: block;
    padding: 10px;
    background-color: white;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 90%;
    text-decoration: none;
    font-size: 20px;
}

main nav a:hover {
    background-color: orangered;
    width: 80%;
    transition: .5s all;
}

main nav a:hover i {
    color: white;
}

main nav a:nth-child(1) {
    margin-top: 10px;
    background-color: turquoise;   
}


main div {
    background-color: crimson;
    height: 100%;
    width: 60%;
    float: left;
}

main aside {
    background-color: blueviolet;
    height: 90%;
    width: 20%;
    float: left;
}

main aside div {
    margin: 0 auto;
    height: 40%;
    border: 2px solid black;
    width: 95%;
    border-radius: 10px;
    box-shadow: 3px 3px grey;
    background-color: white;
}

main aside #valorados {
    margin-top: 20px;
    margin-bottom: 20px;
}

main aside #conectados {
    background-color: blue;
    border-radius: 0px;
}


footer {
    height: 100px;
    background-color: rgba(0, 0, 0, 0.9);
}

footer #mapa{
    background-color: burlywood;
    height: 100%;
    width: 50%;
    float: left;
}

footer #sociales{
    background-color: chartreuse;
    height: 100%;
    width: 50%;
    float: left;
}

h1 {
    color: red;
}

main{
    height: 450px;
    background-color: rgba(255, 0, 0, 0.3);
}

