<div *ngFor="let category of categoriesFilter">
  <h2 >Listado de Cócteles de la categoria {{ category.strCategory }}</h2>
  <div class="container">
    <table class="table-primary">
      <thead>
        <th>Imagen</th>
        <th>Codigo</th>
        <th>Nombre</th>
      </thead>
      <tbody>
        <tr>
          <td> <img src="{{ category.strDrinkThumb }}"></td>
          <td> {{ category.idDrink }} </td>
          <td> {{ category.strDrink }} </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

