<section>
  <div class="card" style="width: 22rem;">
    <div class="card-body">
      <h5 class="card-title">Trabajo nº1</h5>
      <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam impedit ratione odit, repudiandae voluptate dolorum amet est numquam repellendus ipsam culpa optio repellat soluta autem architecto? Laborum, recusandae praesentium? Possimus?</p>
      <a href="#" class="btn btn-primary">¡Échale un vistazo!</a>
    </div>
  </div>

  <div class="card" style="width: 22rem;">
    <div class="card-body">
      <h5 class="card-title">Trabajo nº2</h5>
      <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam impedit ratione odit, repudiandae voluptate dolorum amet est numquam repellendus ipsam culpa optio repellat soluta autem architecto? Laborum, recusandae praesentium? Possimus?</p>
      <a href="#" class="btn btn-primary">¡Échale un vistazo!</a>
    </div>
  </div>

  <div class="card" style="width: 22rem;">
    <div class="card-body">
      <h5 class="card-title">Trabajo nº3</h5>
      <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam impedit ratione odit, repudiandae voluptate dolorum amet est numquam repellendus ipsam culpa optio repellat soluta autem architecto? Laborum, recusandae praesentium? Possimus?</p>
      <a href="#" class="btn btn-primary">¡Échale un vistazo!</a>
    </div>
  </div>

  <div class="card" style="width: 22rem;">
    <div class="card-body">
      <h5 class="card-title">Trabajo nº4</h5>
      <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam impedit ratione odit, repudiandae voluptate dolorum amet est numquam repellendus ipsam culpa optio repellat soluta autem architecto? Laborum, recusandae praesentium? Possimus?</p>
      <a href="#" class="btn btn-primary">¡Échale un vistazo!</a>
    </div>
  </div>

  <div class="card" style="width: 22rem;">
    <div class="card-body">
      <h5 class="card-title">Trabajo nº5</h5>
      <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam impedit ratione odit, repudiandae voluptate dolorum amet est numquam repellendus ipsam culpa optio repellat soluta autem architecto? Laborum, recusandae praesentium? Possimus?</p>
      <a href="#" class="btn btn-primary">¡Échale un vistazo!</a>
    </div>
  </div>

  <div class="card" style="width: 22rem;">
    <div class="card-body">
      <h5 class="card-title">Trabajo nº6</h5>
      <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam impedit ratione odit, repudiandae voluptate dolorum amet est numquam repellendus ipsam culpa optio repellat soluta autem architecto? Laborum, recusandae praesentium? Possimus?</p>
      <a href="#" class="btn btn-primary">¡Échale un vistazo!</a>
    </div>
  </div>
</section>
