div {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  margin-top: 25px;
  margin-right: 20px;
  padding: 22px;
}

div h1 {
  color: black;
  font-size: 65px;
  font-family: 'Playfair Display';
}

div figure img {
  width: 350px;
}
