<div>
  <h2 class="start">quien soy</h2>
  <section>
      <article>
          <p>Soy una chica de 19 años con muchas ganas de comerme el mundo.</p><br>
          <p>He empezado a formarme en el Grado Superior de Informática y estoy adquiriendo muchos conocimientos y herramientas útiles.</p> <br>
          <p>Varios lenguajes con los que puedo trabajar son HTML5, CSS3 y JavaScript; aunque estoy aprediendo nuevos con los que codificar mis futuras páginas web.</p> <br>
          <p>En una búsqueda por mantenerme siempre actualizada, asisto a cursos online con los que alimento mis ansias de aprender.</p>
      </article>
      <figure>
          <img src="./assets/selfie.jpg">
      </figure>
  </section>
  <h2 class="end">quien soy</h2>
</div>
