<header>
  <a class="logo" [routerLink]="['/lobby', {outlets: {cuerpo: ['home']}}]">
    <img src="./assets/logo.png">
  </a>

  <ul class="nav justify-content-center" style="background-color: rgb(88, 24, 69);">
    <li class="nav-item">
      <a class="nav-link"
        [routerLink]="['/categories', {outlets: { menu: ['sidebar'], cuerpo: ['home'] }}]">Categories
    </a>

    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/glasses', {outlets: { menu: ['sidebar'], cuerpo: ['home'] }}]">Glasses</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/ingredients', {outlets: { menu: ['sidebar'], cuerpo: ['home'] }}]">Ingredients</a>
    </li>
  </ul>
</header>
