nav {
  box-shadow: 3px -3px 3px gainsboro;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

a {
  margin: auto;
  text-decoration: none;
}

i {
  font-size: 25px;
  padding: 20px;
}
