h1 {
  color: cornflowerblue;
  text-align: center;
  margin: 50px;
  margin-bottom: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p {
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  margin-bottom: 50px;
}

ul {
  font-size: 18px;
  text-align: center;
  text-decoration: dotted;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


