<div>
  <h2>Información detallada del Cóctel:</h2>

 <div class="card" style="width: 50rem;">
  <img src="{{ drink.strDrinkThumb }}" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">{{ drink.strDrink }}</h5>
    <p class="card-text">{{ drink.strInstructions }}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <p class="title">Categoria: </p>
      <p class="text">{{ drink.strCategory }}</p>
    </li>
    <li class="list-group-item">
      <p class="title">Ingredientes: </p>
      <p class="text">{{ drink.strIngredient1 }},{{ drink.strIngredient2 }},{{ drink.strIngredient3 }}</p>
    </li>
    <li class="list-group-item">
      <p class="title">Medidas: </p>
      <p class="text">{{ drink.strMeasure1 }},{{ drink.strMeasure2 }},{{ drink.strMeasure3 }}</p>
    </li>
    <li class="list-group-item">
      <p class="title"><i class="fas fa-cocktail"></i></p>
      <p class="text">{{ drink.strAlcoholic }}</p>
    </li>
    <li class="list-group-item">
      <p class="title"><i class="fas fa-hashtag"></i></p>
      <p class="text">{{ drink.strTags }}</p>
    </li>
  </ul>
</div>
